:host {
  p {
    padding: .5em;
  }
  h3 {
    margin-bottom: 0;
  }
  img {
    width: 100px;
    height: 100px;
    margin-right: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    clear: both;
  }
  section {
    margin-bottom: 6em;
  }
  header {
    clear: both;
  }
}